* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px rgba(0, 0, 0, 0.5) solid;
    max-width: 800px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    padding: 30px;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1,
header nav {
    width: 50%;
}

header nav {
    text-align: right;
}
